@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

input,
button {
  border: 0;
}

button {
  cursor: pointer;
}

.h1-heading {
  font-family: "Major Mono Display", monospace;
  color: black;
  font-weight: 100;
  font-size: 8vw;
}

.h2-heading {
  font-family: "Major Mono Display", monospace;
  color: black;
  font-weight: 500;
  font-size: 4rem;
}

.h3-heading {
  font-family: "Major Mono Display", monospace;
  color: black;
  font-weight: 500;
  font-size: 4rem;
}

.h4-heading {
  font-family: "Major Mono Display", monospace;
  color: black;
  font-weight: 500;
  font-size: 2rem;
}

input {
  font-family: "Major Mono Display", monospace;
  color: black;
  font-weight: 400;
  font-size: 3rem;
}

.display-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 90%;
  margin: auto;
  grid-gap: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

form {
  padding: 4rem;
}

input {
  padding: 1rem;
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.6) 100%);
  background-blend-mode: normal, multiply;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

input:focus {
  background: white;
  border: 1px solid #b4a8a8;
  margin: -1px;
}

.confirmation-message {
  padding: 2rem;
}

.submit-btn {
  font-family: "Major Mono Display", monospace;
  color: white;
  font-weight: 300;
  font-size: 3rem;
  padding: 1rem;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background: black;
  transition: 0.5s;
}

.submit-btn:hover {
  font-family: "Major Mono Display", monospace;
  color: black;
  font-weight: 300;
  font-size: 3rem;
  background: white;
}