.display-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    width: 90%;
    margin: auto;
    grid-gap: 2rem;
}

.beers {
    background: white;
    @include flex(column, space-around, center);
    animation: opacity 1s ease-in-out;
    height: 45rem;
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0.9;
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem;
}


.beers img {
    width: 30%;
    height: 20rem;
}