.display-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    width: 80%;
    margin: auto;
    grid-row-gap: 2rem;
}

.beers {
    cursor: pointer;
    @include flex(column, space-between, center);
    animation: opacity 1s ease-in-out;
    height: 45rem;
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $silver;
}

.beers img {
    width: 35%;
    height: 22rem;
}

.white {
    background-color: white;
}

@media screen and (max-width: 650px) {
    .display-container {
        @include flex(column, center, center);
        width: 95%;
    }

    .beers {
        height: 90vh;
    }
}