header {
    @include flex (column, center, center);
    padding: 5rem
}

form {
    padding: 4rem;
}

input {
    padding: 1rem;
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.60) 100%);
    background-blend-mode: normal, multiply;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

input:focus {
    background: white;
    border: 1px solid rgb(180, 168, 168);
    margin: -1px;
}

.confirmation-message {
    padding: 2rem;
}