.submit-btn {
    @include heading(white, 300, 3rem);
    padding: 1rem;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background: black;
    transition: .5s;
}

.submit-btn:hover {
    @include heading(black, 300, 3rem);
    background: white;
}

.recipe-btn {
    @include heading($black, 300, 2rem);
    text-transform: uppercase;
    padding: 1rem;
    background: rgba(124, 88, 88, 0.4);
    opacity: 0.7;
    transition: .5s;
    width: 100%;
    opacity: 0;
    transition: .3s;
}

.beers:hover>.recipe-btn {
    opacity: 1;
    animation: cta_btn .3s linear alternate;
}

// animations
.recipe-btn:hover {
    background: $dark;
    color: $white;
}