.submit-btn {
    @include main_heading(white, 300, 3rem);
    padding: 1rem;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background: black;
    transition: .5s;
}

.submit-btn:hover {
    @include main_heading(black, 300, 3rem);
    background: white;
}

.recipe-btn {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    background: black;
    transition: .5s;
}

// animations
.recipe-btn:hover {
    background: white;
    color: black;
}