@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    // background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    min-height: 100vh;
    height: auto;
    width: 100%;
}

input,
button {
    border: 0;
    outline: 0;
}

button {
    cursor: pointer;
}

// page loading
.loader {
    display: none;
}

.line {
    height: 50px;
    width: 10px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    margin: 5px;
    border-radius: 5px;
}

.line1 {
    animation: loader .6s linear alternate-reverse infinite;
}

.line2 {
    animation: loader .6s linear .2s alternate-reverse infinite;
}

.line3 {
    animation: loader .6s linear .4s alternate-reverse infinite;
}

.line4 {
    animation: loader .6s linear .6s alternate-reverse infinite;
}