.h1-heading {
    @include main_heading(black, 800, 8vw);
}

.h2-heading {
    @include main_heading(black, 100, 3.5rem);
    height: 10rem;
    width: 100%;
}

.h3-heading {
    @include main_heading(black, 500, 4rem);
}

.h4-heading {
    @include main_heading(black, 500, 2rem);
}

.primary-font {
    @include main_text(black, 300, 1.5rem)
}

input {
    font-family: $alternate-font;
    font-size: 3rem;
    font-weight: 100;
}