// font mixin var - color / f_weight / f_size 
.heading_1 {
    @include heading($white, 900, calc(10rem + 5vw));
    text-shadow: 3px 6px black;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: .3rem;
}

.header-text {
    @include text(black, 400, 2rem);
}

input {
    @include text(black, 400, 2rem);
}